.container {
  height: 100%;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
}

.chart {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--dark-grey);
}

.tooltip {
  background: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  pointer-events: none;
  padding: 0 5px;
  position: relative;
  top: 0;
  width: 160px;
  z-index: 1;
}
